VITE_CCT_CONTRACT_ADDRESS=0xYOURCCTCONTRACTADDRESS
VITE_EXCHANGE_CONTRACT_ADDRESS=0xYOURCCTCONTRACTADDRESS
VITE_RPC_URL=YOURRPCURL
VITE_CHAIN_ID=YOURCHAINID
VITE_CHAIN_ID_DECIMAL=YOURCHAINID
VITE_CHAIN_NAME=YOURCHAINNAME
VITE_NATIVE_CURRENCY_NAME=YOURNATIVECURRENCYNAME
VITE_NATIVE_CURRENCY_SYMBOL=YOURNATIVECURRENTYSYMBOL
VITE_NATIVE_CURRENCY_DECIMALS=YOURNATIVECURRENCYDECIMALS

VITE_PINATA_API_KEY=your_pinata_api_key
VITE_PINATA_SECRET_API_KEY=your_pinata_secret_api_key
JWT_PINATA = your_jwt_pinata_token