VITE_CCT_CONTRACT_ADDRESS=0xYOURCCTCONTRACTADDRESS
VITE_EXCHANGE_CONTRACT_ADDRESS=0xYOURCCTCONTRACTADDRESS

VITE_PINATA_API_KEY=your_pinata_api_key
VITE_PINATA_SECRET_API_KEY=your_pinata_secret_api_key
JWT_PINATA = your_jwt_pinata_token